*{
    padding: 0;
    margin: 0;
}

body{
    color: white;
    background-color: #212121;
}

.flex{
    display: flex;
}
.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.align-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}

.justify-space-around{
    justify-content: space-around;
}

.justify-space-between{
    justify-content: space-between;
}


